body {
  background-image: url("https://wallpapers.com/images/featured/snow-background-v24n2zxteoor8gpf.jpg");
  color: rgb(209, 62, 62);
  text-align: center;
  
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(201, 219, 233);
}
